/* TODO: Move component CSS into individual elements to make this more modular */

#volume-input > input{
  display: block;
  margin-bottom: 5px;
}

#calculated-volume-label {
  font-weight: 600;
  font-size: 1.5em;
}

#volume-input {
  border: 1px solid black;
  display: block;
  width: fit-content;
  padding: 10px;
}

header {
  display: flex;
  justify-content: center;
}

#header-logo {
  vertical-align: middle;
  margin-right: auto;
}

header h1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
}